.item-conatiner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    margin: 10px auto;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item-conatiner img {
    width: 91px;
    margin-right: 10px;
    border-radius: 10px;
}
.remove-btn {
    margin-left: auto;
}
.item-details {
    text-align: left;
}
.item-details span {
    color: brown;
    font-weight: bold;
}
.remove-btn {
    width: 47px;
    height: 47px;
    background-color: rgba(165, 42, 42, 0.486);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
