.header {
    background: #1c2b35;
    height: 80px;
    padding: 0 145px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar a:hover {
    background: #131d24;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .header {
        height: auto;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin: 0;
    }
    .logo {
        margin-bottom: 15px;
    }
}
